{% extends "_base.html" %}
<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Wise</title>
    <link rel="stylesheet" type="text/css" href="../static/app/styles.css">  <!-- Enlace al CSS -->
</head>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenido</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100">
    {% block content %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-2xl w-full">
                    <h1 class="text-2xl font-bold mb-4">¡Bienvenido, {{ first_name }} {{ last_name }}!</h1>
                    <table class="w-full text-left text-gray-700 mb-4">
                        <tr>
                            <th class="font-bold">Usuario:</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th class="font-bold">Email:</th>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <th class="font-bold">Staff:</th>
                            <td>{{ staff }}</td>
                        </tr>
                        <tr>
                            <th class="font-bold">Superusuario:</th>
                            <td>{{ superuser }}</td>
                        </tr>
                    </table>

                    <h3 class="font-bold">Permisos del usuario:</h3>
                    <ul>
                        {% if user_permissions %}
                            {% for perm in user_permissions %}
                                <li>{{ perm.name }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No tiene permisos específicos asignados</li>
                        {% endif %}
                    </ul>
        </div>
    </div>
            {% endblock %}
    </body>
</html>
